* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(220, 120, 85, 0.7);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  position: relative;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 50%;
  text-decoration: underline;
}
main {
  margin: 20px auto;
  border: 2px solid grey;
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, rgba(255, 102, 0, 0.712));
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 4px #333;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
  /* width: 300px;
  height: 100px;
  background-color: wheat;
  margin: 10px auto; */
}

.buttons {
  max-width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
  color: white;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

#increment-btn {
  background-color: darkred;
}

#deduct-btn {
  background-color: #333;
}

#save-btn {
  background-color: darkgreen;
}

#restart-btn {
  background-color: yellowgreen;
}

/* button:focus {
  border: 1px solid black;
  box-shadow: 1.5px 3px #333;
} */
/* 
div {
  width: 60%;
  height: 200px;
  margin: 10px auto;
  background-color: bisque;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} */
